@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 277 100% 98%;
    --foreground: 277 15% 4%;
    --card: 277 100% 99%;
    --card-foreground: 277 15% 4%;
    --popover: 277 100% 99%;
    --popover-foreground: 277 15% 4%;
    --primary: 25 100% 55%;
    --primary-foreground: 25 10% 98%;
    --secondary: 277 5% 96%;
    --secondary-foreground: 277 15% 4%;
    --muted: 277 10% 90%;
    --muted-foreground: 277 20% 30%;
    --accent: 277 60% 50%;
    --accent-foreground: 25 10% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 25 10% 98%;
    --border: 277 10% 88%;
    --input: 277 10% 88%;
    --ring: 25 95% 53%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 277 20% 15%;
    --foreground: 60 9.1% 97.8%;
    --card: 277 25% 20%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 277 25% 20%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 25 80% 45%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 277 15% 25%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 277 10% 20%;
    --muted-foreground: 277 30% 60%;
    --accent: 277 60% 50%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 70% 40%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 277 15% 18%;
    --input: 277 15% 18%;
    --ring: 25 80% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  a {
    @apply underline;
  }
}
